In [10]:
import pandas as pd

In [19]:
events = pd.read_excel(r"C:\Users\Ahmed\Desktop\Heights.xlsx", index_col=0, header=0)

In [20]:
events

         Height  Age  Weight
Name
3abdo       140   24    60.5
ibrahim     170   27    80.4
hossam      177   23    83.9
mexes       180   29    90.5
mo7sen      150   28   120.4

In [21]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 3abdo to mo7sen
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  5 non-null      int64
 1   Age     5 non-null      int64
 2   Weight  5 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 160.0+ bytes

In [22]:
events.describe()

          Height        Age      Weight
count    5.00000   5.000000    5.000000
mean   163.40000  26.200000   87.140000
std     17.54423   2.588436   21.697534
min    140.00000  23.000000   60.500000
25%    150.00000  24.000000   80.400000
50%    170.00000  27.000000   83.900000
75%    177.00000  28.000000   90.500000
max    180.00000  29.000000  120.400000

In [24]:
events.shape

(5, 3)

In [33]:
events['bmi'] = events['Weight']/(events['Height']/100)**2

In [34]:
events

         Height  Age  Weight        bmi
Name
3abdo       140   24    60.5  30.867347
ibrahim     170   27    80.4  27.820069
hossam      177   23    83.9  26.780299
mexes       180   29    90.5  27.932099
mo7sen      150   28   120.4  53.511111